.card {
  display: block;
  width: 200px;
  height: fit-content;
  padding: 12px;
  border-radius: 12px;
  background-color: #3a8ac0;
  font-size: 14px;
  color: #fff;
  margin: 0 24px 24px 0;
  box-shadow: 3px 3px 12px 1px rgba(0, 0, 0, 0.25);
  text-decoration: none;

  &:hover {
    transition: 1s ease; // плавная анимация
    transform: scale(1.05); // увеличение блока
    cursor: pointer;
  }

  .deleteCard {
    display: flex;
    justify-content: flex-end;

    .deleteBtn {
      margin-left: 5px;
    }

    .btn {
      cursor: pointer;

      &:hover {
        box-shadow: 2px 1px 7px 1px #224c63;
      }
    }
  }

  .mainInfo {
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
      font-size: 24px;
      font-weight: 500;
    }

    .description {
      margin-top: 4px;
      font-size: 16px;
    }

    .temperature {
      margin-top: 12px;
      font-size: 40px;
      font-weight: 500;

      &:after {
        content: '°'
      }
    }
  }

  .information {
    margin-top: 12px;

    div {
      margin-top: 4px;
    }
  }
}

.cardList {

  &:hover {
    transition: none;
    transform: none;
    cursor: default;
  }

}